
body {
    font-family: 'Marmelad';
    color: #39260A;
    margin: 0 auto;
    max-width: 1440px;
}

.container {
    margin: 0 151px;
}

.current_page{
    margin-top: 29px;
    font-size: 24px;
    line-height: 24px;
}

.catalog_title{
    margin-top: 30px;
    font-size: 36px;
    line-height: 24px;
}

.common_catalog_space{
    margin-top: 30px;
    display: flex;
}

.current_category_title{
    font-size: 26px;
    line-height: 56px;
}

.sidebar{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 0px 48px;
    gap: 32px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
/* Общий фон на макете поменялся - теперь он ffffff, поэтому .sidebar будет выделяться на старом фоне */

.sidebar_name{
    font-size: 20px;
    line-height: 24px;
    padding-left: 24px;
}

.category_name{
    font-size: 16px;
    line-height: 24px;
    padding-left: 32px;
}

.catalog{
    margin-left: 97px;
    flex-grow: 1;
}

.catalog_space{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.filters_space{
    display: flex;
    justify-content: flex-end;
}

.filter{
    margin-left: 21px;
}

.filter_title{
    font-size: 16px;
    line-height: 24px;
}

.filter_select{
    margin-top: 10px;
    width: 270px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #666666;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Marmelad';
    color: #CCCCCC;
}

optgroup{
    color: #39260A;
}


.cards_space {
    min-height: 500px;   
    box-sizing: border-box;
    width: 270px;
    border: 3px solid #bed2b5;
    box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin-top: 35px;
    /*margin-left: 30px;*/
  }
  
  .card {
    width: 270px;
    height: 468px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
  }
  
  .card_title {
    padding: 20px;
    width: 76px;
    height: 14px;
    font-family: "Marmelad";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
  
  .card_price {
    align-self: flex-end;
    margin: 20px 20px 10px 0px;
  }
  
  .card_info {
    align-self: start;
    margin:0px 0px 10px 20px;
  }
  
  .card_characters {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    width: 230px;
  }
  
  .stars {
    align-self: start;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  
  .progress_bar {
    width: 130px;
    height: 5px;
    margin-top: 5px;
    margin-left: 20px;
    border: 1px solid #293d38;
  }
  
  progress::-webkit-progress-value {
    background: #293d38;
  }
  
  progress::-webkit-progress-bar {
    background: #f5f5f5;
  }
  
  .btn {
    font-family: "Marmelad";
    font-style: normal;
    font-weight: 400;
    width: 116px;
    height: 37px;
    color: #ffffff;
    background: #293d38;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.36));
  }
  


.page_selection{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 24px;
}


.page_selection_elem{
    height: 32px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Roboto';
    letter-spacing: 0.4px;
    color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
}


.selected_page{
    background: #000000;
    border-radius: 4px;
    color: #FFFFFF;
    width: 32px;
    height: 32px;
}

.invisible{
    display: none;
}