.h2_popup{
	margin-top: 19px;
	margin-bottom: 19px;
	margin-left: -15px;
	text-align: center;
}

.p_popup{
	margin-top: 19px;
	margin-bottom: 19px;
}

.btn-popup {
	background-color: #F5F5F5;
	border: none;
	cursor: pointer;
	color: dimgray;
}

.btn1-popup{
    color: dimgray;
    width: 95%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: lightgrey;
    font-size: 15px;
    cursor: pointer;
   }

.modal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}

.modal {
	background-color: #fff;
	width: 300px;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
    border-radius: 10px;
    box-shadow: 0 0 15px #c2c2c2;
    color: black;
}

.modal--2{
    height: 350px;
}

.modal-overlay--visible {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-in-out;
}

.modal--visible {
    color: dimgray;
    flex-direction: column;
    overflow: hidden;
    background-color: #ffffff;
	display: block;
}

.lgn2, .lgn{
    margin-left: 15px;
}

.input{
    width: 92%;
    height: 20px;
}
