* {
    margin: 0;
    padding: 0;
    font-family: 'Marmelad';
    font-style: normal;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.slider {
    margin-top: 40px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.slider_box {
    padding-bottom: 106px;
}

.slider_head {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 28px;
}

.slider_img {
    width: 367px;
    position: relative;
}

.img_txt_box {
    position: absolute;
    top: 140px;
    text-align: center;
    width: 367px;
    background: #BED2B5;
    padding-top: 19px;
    padding-bottom: 19px;
}

.img_txt {
    font-weight: 400;
    font-size: 24px;
    line-height: 14px;
}


.itc-slider {
    position: relative;
}

.itc-slider__wrapper {
    overflow: hidden;
}

.itc-slider__items {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
    padding-left: 70px;
}

.itc-slider__transition-none {
    transition: none;
}

.itc-slider__item {
    flex: 0 0 34%;
    max-width: 34%;
    user-select: none;
    will-change: transform;
}

/* кнопки влево и вправо */
.itc-slider__btn {
    position: absolute;
    top: 137px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    border-radius: 52px;
}

.itc-slider__btn_prev {
    left: 0;
}

.itc-slider__btn_next {
    right: 0;
}

.itc-slider__btn:hover, .itc-slider__btn:focus {
    text-decoration: none;
}